# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup

# IDE - IntelliJ
.idea/
*.iml
*.ipr
*.iws
/shelf/
/workspace.xml

# IDE - VS Code
.vscode/
*.code-workspace

# IDE - Eclipse
.classpath
.project
.settings/

# Java
*.class
*.jar
*.war
*.ear

# Logs
*.log

# System
.DS_Store
Thumbs.db

# Karate
*karate.log